$black: #3A3E3B;
$white: #F7F0DC;
$blue: #24ACB4;
$green: #B2CCB9;
$red: #EA4E5B;

:global {
  body {
    margin: 0;
    padding: 0;
  }
}
.presentation {
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: $black;
}
