:global {
  @import '~highlight.js/styles/monokai';
}

$black: #3A3E3B;
$white: #F7F0DC;
$blue: #24ACB4;
$green: #B2CCB9;
$red: #EA4E5B;

.container {
  display: flex;
  width: 100%;
}

.slide {
  h1 {
    font-size: 8em;
    color: $red;
    text-shadow: 0px 2px 3px darken($red, 20%);
  }

  h2 {
    font-size: 4em;
    color: $green;
    text-shadow: 0px 1px 2px darken($green, 20%);
  }

  h3 {
    font-size: 2em;
    color: $blue;
    text-shadow: 0px 1px 2px darken($blue, 20%);
  }

  code {
    display: block !important;
    text-align: left !important;
    font-size: 2em;
  }

  ul {
    text-align: left;
    font-size: 3em;
    text-shadow: 0px 1px 2px darken($white, 20%);
  }

  p {
    font-size: 2em;
    text-shadow: 0px 1px 2px darken($white, 20%);
  }
}

.slide {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  width: 90%;
  height: 100vh;
  border-bottom: 1px solid #000;
  background-color: $white;
  color: $black;
}

.left, .right {
  width: 5%;
}
